*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 40px;
}
body{
    background-color: #a1a1a1;
}
.btn{
    background-color: #d50f0f;
    padding: 10px 20px;
    color: wheat;
    border-radius: 7px;
}